/*
    Debug Highlighting
*/

.g .r .c1,
.g .r .c2,
.g .r .c3,
.g .r .c4,
.g .r .c5,
.g .r .c6,
.g .r .c7,
.g .r .c8,
.g .r .c9,
.g .r .c10,
.g .r .c11,
.g .r .c12
{ outline:1px solid #ccc; }

	/* ...
		float: left;
		margin-right: 10px; 
	*/
	.column.span-1.column.span-2,.column.span-3,.column.span-4,.column.span-5,.column.span-6,.column.span-7,.column.span-8,.column.span-9,.column.span-10,.column.span-11,.column.span-12,.column.span-13,.column.span-14,.column.span-15,.column.span-16,.column.span-17,.column.span-18,.column.span-19,.column.span-20,.column.span-21,.column.span-22,.column.span-23,.column.span-24
	{ outline: 1px dashed green; }

	/*
	Both got...
		margin-right: 0;
	*/
	.span-24.last
	{ outline: 1px dashed green; }

	/*
	Both got...
		margin-bottom: 1.5em;
	*/
	div.append-bottom.push-1,.append-bottom.push-1,div.append-bottom.push-2,.append-bottom.push-2,div.append-bottom.push-3,.append-bottom.push-3,div.append-bottom.push-4,.append-bottom.push-4,div.append-bottom.push-5,.append-bottom.push-5,div.append-bottom.push-6,.append-bottom.push-6,div.append-bottom.push-7,.append-bottom.push-7,div.append-bottom.push-8,.append-bottom.push-8,div.append-bottom.push-9,.append-bottom.push-9,div.append-bottom.push-10,.append-bottom.push-10,div.append-bottom.push-11,.append-bottom.push-11,div.append-bottom.push-12,.append-bottom.push-12,div.append-bottom.push-13,.append-bottom.push-13,div.append-bottom.push-14,.append-bottom.push-14,div.append-bottom.push-15,.append-bottom.push-15,div.append-bottom.push-16,.append-bottom.push-16,div.append-bottom.push-17,.append-bottom.push-17,div.append-bottom.push-18,.append-bottom.push-18,div.append-bottom.push-19,.append-bottom.push-19,div.append-bottom.push-20,.append-bottom.push-20,div.append-bottom.push-21,.append-bottom.push-21,div.append-bottom.push-22,.append-bottom.push-22,div.append-bottom.push-23,.append-bottom.push-23,div.append-bottom.push-24,.append-bottom.push-24
	{ outline: 1px dashed green; }

	/*
	Both got...
		margin-bottom: 1.5em;
	*/
	.box.push-1,.box.push-2,.box.push-3,.box.push-4,.box.push-5,.box.push-6,.box.push-7,.box.push-8,.box.push-9,.box.push-10,.box.push-11,.box.push-12,.box.push-13,.box.push-14,.box.push-15,.box.push-16,.box.push-17,.box.push-18,.box.push-19,.box.push-20,.box.push-21,.box.push-22,.box.push-23,.box.push-24
	{ outline: 1px dashed green; }

/* ----------------------------------------------------
	Maybe Critical classes