/**
    @file
    @brief Form Elements for Radix and other stuff
*/

@import "base.less";


/* Inputs */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea
{
    background-color: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 14px;
    margin: 0 0 12px 0;
    padding: 6px;
    width: 100%;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    vertical-align: bottom;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: #fafafa;
    border-color: #b3b3b3;
}

/* Buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"]
{
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius:4px;
	color: #FFF;
    cursor: pointer;
	background-color: @grey;
	border-color: @grey;
	font-size: 14px;
	font-weight:bold;
    min-width: 128px;
	padding: 8px 12px;
	text-align: center;
    text-decoration:none;
	white-space: nowrap;
	vertical-align: bottom;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

button:active, button:hover,
input[type="button"]:active, input[type="button"]:hover,
input[type="reset"]:active, input[type="reset"]:hover,
input[type="submit"]:active, input[type="submit"]:hover
{
	background-color: #3A3C3C;
	border-color: #2E2F2F;
}

button.l,
input[type="button"].l,
input[type="reset"].l,
input[type="submit"].l
{
	border-radius:8px;
	font-size:24px;
}

button.s,
input[type="button"].s,
input[type="reset"].s,
input[type="submit"].s
{
	font-size:12px;
	font-weight:normal;
	padding:4px 8px;
}

input[type="number"] {
	text-align:right;
}

.pushbar-h {
	
}

.pushbar-v {
	
}

div.pack {

	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	{
		display: inline;
		font-size: 14px;
		margin: 0 0 12px 0;
		padding: 6px;
		width:auto;
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"]
	{
		display:inline;
		font-size: 14px;
		margin:0 0 12px 0;
		width:auto;
	}
}

