/*
    Pretty Gradients for Alerts, Buttons
    @see http://twitter.github.com/bootstrap/base-css.html#buttons
*/

@import "base.less";

/* Exec */
.exec {
	color: #FFF;
	background-color: @exec;
	border-color: @exec;
}
.exec:active, .exec:hover {
    background-color: @exec_hi;
    border-color: @exec_lo;
}

/* Good */
.good {
	color: #FFF;
	background-color: @good;
	border-color: @good;
}
.good:active, .good:hover {
	background-color: @good_hi;
	border-color: @good_lo;
}

/* Info */
.info {
	background-color: @info;
	border-color: @info;
}

.info:active, .info:hover {
	background-color: @info_hi;
	border-color: @info_lo;
}

/* Warn */
.warn {
	background-color: @warn;
	border-color: @warn;
}
.warn:active, .warn:hover {
	background-color: @warn_hi;
	border-color: @warn_lo;
}

/* Fail */
.fail
{
	background-color: @fail;
	border-color: @fail;
}
.fail:active, .fail:hover {
	background-color: @fail_hi;
	border-color: @fail_lo;
}
