/*
    Pretty Gradients for Alerts, Buttons
    @see http://twitter.github.com/bootstrap/base-css.html#buttons
*/

@import "base.less";

/* Exec */
.exec {
	color: #FFF;
	background-color: @exec;
	border-color: @exec;
}
.exec:active, .exec:hover {
    background-color: @exec_hi;
    border-color: @exec_lo;
}

/* Good */
.good {
	color: #FFF;
	background-color: @good;
	border-color: @good;
}
.good:active, .good:hover {
	background-color: @good_hi;
	border-color: @good_lo;
}

/* Info */
.info {
	background-color: @info;
	border-color: @info;
}

.info:active, .info:hover {
	background-color: @info_hi;
	border-color: @info_lo;
}

/* Warn */
.warn {
	background-color: @warn;
	border-color: @warn;
}
.warn:active, .warn:hover {
	background-color: @warn_hi;
	border-color: @warn_lo;
}

/* Fail */
.fail
{
	background-color: @fail;
	border-color: @fail;
}
.fail:active, .fail:hover {
	background-color: @fail_hi;
	border-color: @fail_lo;
}

button.exec,
input[type="button"].exec,
input[type="reset"].exec,
input[type="submit"].exec 
{
	.exec
}

button.good,
input[type="button"].good,
input[type="reset"].good,
input[type="submit"].good
{
	.good
}

button.info,
input[type="button"].info,
input[type="reset"].info,
input[type="submit"].info
{
	.info
}

button.warn,
input[type="button"].warn,
input[type="reset"].warn,
input[type="submit"].warn
{
	.warn
}

button.fail,
input[type="button"].fail,
input[type="reset"].fail,
input[type="submit"].fail
{
	.fail
}
