/**
    Labels and Badges
*/

.note {
    background-color: #999999;
    border-radius: 4px;
    font-size:12px;
    padding: .25em .6em;
	white-space: nowrap;
	vertical-align: middle;
}

.pill {
	border-radius: 16px;
    padding: .25em 1em;
}

/*
  White on Black
*/
.note.flip {
    background-color: #333333;
    color: #FFFFFF;
}

/*
  Pill Shapes are Rounded Corners
*/
