/**
    Labels and Badges
*/

.note {
    background-color: #999999;
    border-radius: 4px;
}

.note8 {
    border-radius: 8px;
}

/*
 Grey 
*/

/*
  Green
*/
.note.good {
    background-color: #468847;
}

/*
  Orange
*/
.note.warn
{
 background-color: #F89406;
}
/*
  Red
*/
.note.fail {
    background-color: #B94A48;
}

/*
  Pale Blue
*/
.note.info {
    background-color: #3A87AD;
}

/*
  White on Black
*/
.note.flip {
    background-color: #333333;
    color: #FFFFFF;
}

/*
  Pill Shapes are Rounded Corners
*/
.pill {
  border-radius:8px; padding: 2px 4px;
}
