/**
    @file
    @brief Fancy Page Style Things
*/

blockquote.r
{
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #EEE;
    border-left: 0;
    text-align: right;
}

div.hero
{
    font-size:256%;
    margin:16px;
    padding:16px;
}

p.lead {
    margin:16px;
    font-weight:700;
    font-size:120%;
}

/* Limit Height */
pre.hmax
{
  max-height: 344px;
  overflow-y: scroll;
}

article {
    margin:8px 0px 4px 16px;
}
